{%- style -%}
  #shopify-section-{{ section.id }} {
    background: #FFF5E5;
  }
  
  .wl_three-cols-heading-icon {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      margin: 40px;
      align-items: end;
      justify-items: start;
      width: 100%;
      margin: 0 auto;
      padding: 90px 20px 128px 20px;
      max-width: 1280px;
  }
  .wl_three-cols-heading-icon_heading-wrapper {
      grid-column: 2 / 10;
  }
  .wl_three-cols-heading-icon_heading {
    color: #154734;
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 52.8px */
  }

  .wl_three-cols-heading-icon_columns {
      grid-column: 2 / 12;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 64px;
      grid-gap: 40px 20px;
  }
  .wl_three-cols-heading-icon_grid-item {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      max-width: 256px;

      color: #154734;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      line-height: 175%;
  }
  .wl_three-cols-heading-icon_grid-item img {
    margin-bottom: 32px;
    height: 52px;
    width: auto;
  }
  .wl_three-cols-heading-icon_grid-item_heading {
    font-weight: 700;
    font-size: 16px;
    color: #154734;
  }
  .wl_three-cols-heading-icon_grid-item p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #154734;
  }
  .wl_three-cols-heading-icon_grid-item_btn {
    background: #E9DDC6;
    padding: 5px, 24px;
    color: #154734;
    text-align: center;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    text-decoration: none;
    min-width: fit-content;
    transition: background 0.3s ease;
    margin-top: 24px;
}
  .wl_three-cols-heading-icon_grid-item_btn:hover {
    background: #E9DDC680;
  }

  @media (max-width: 767px) {
      .wl_three-cols-heading-icon {
          padding: 60px 20px;
      }
    .wl_three-cols-heading-icon_heading-wrapper {
      grid-column: span 12;
    }
    .wl_three-cols-heading-icon_columns {
      grid-column: span 12;
      margin-top: 32px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .wl_three-cols-heading-icon_heading {
      font-size: 24px;
    }
    .wl_three-cols-heading-icon_grid-item {
      grid-column: span 1;
    }
    .wl_three-cols-heading-icon_grid-item_btn {
      margin-top: 8px;
    }
    .wl_three-cols-heading-icon_grid-item p {
      font-size: 14px;
    }
    .wl_three-cols-heading-icon_grid-item {
      max-width: 100% !important;
    }
  }
  
{%- endstyle -%}

<div class="wl_three-cols-heading-icon">
  {%- if section.settings.three-cols-heading-icon_heading -%}
    <div class="wl_three-cols-heading-icon_heading-wrapper">
      <h2 class="wl_three-cols-heading-icon_heading">{{ section.settings.three-cols-heading-icon_heading }}</h2>
    </div>
  {%- endif -%}
  
  <div class="wl_three-cols-heading-icon_columns">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'grid-item' %}
          <div class="wl_three-cols-heading-icon_grid-item">
            {%- if block.settings.grid-item_image -%}
              <img src="{{ block.settings.grid-item_image | image_url }}">
            {%- endif -%}
            <h3 class="wl_three-cols-heading-icon_grid-item_heading">{{ block.settings.grid-item_heading }}</h3>
            {{ block.settings.grid-item_paragraph }}
            {%- if block.settings.grid-item_btn-label -%}
            <a href="{{ block.settings.grid-item_btn-link }}" target="_blank" class="wl_three-cols-heading-icon_grid-item_btn">{{ block.settings.grid-item_btn-label }}</a>
            {%- endif -%}
          </div>
      {% endcase %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "3 Columns Icons",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "three-cols-heading-icon_heading",
     "label": "Heading",
    },
  ],
  "blocks": [
    {
      "type": "grid-item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid-item_image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "grid-item_heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "grid-item_paragraph",
          "label": "Paragraph"
        },
        {
          "type": "text",
          "id": "grid-item_btn-label",
          "label": "Button Label"
        },
        {
          "type": "text",
          "id": "grid-item_btn-link",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "3 Columns Icons",
      "blocks": [
        {
          "type": "grid-item"
        },
        {
          "type": "grid-item"
        },
        {
          "type": "grid-item"
        }
      ]
    }
  ]
}
{% endschema %}
