{%- style -%}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.heading-text-columns_background_color }};
  }
  .wl_heading-text-columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
    gap: 20px;
    align-items: start;
    justify-items: stretch;
    width: 100%;
    margin: 0 auto;
    padding: 96px 20px;
    max-width: 1280px;
  }
  .wl_heading-text-columns_heading-col {
    grid-column: 2 / 6;
  }
  .wl_heading-text-columns_text-col {
    grid-column: 7 / -2;
  }
  .wl_heading-text-columns_heading {
    color: {{ section.settings.heading-text-columns_heading_color }};
    font-family: Sora;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 52.8px */
  }
  .wl_heading-text-columns_heading.small {
    font-size: 32px;
  }
  .wl_heading-text-columns_squiggle {
    /* margin-top: 32px; */
    display: none;
  }
  .wl_heading-text-columns_squiggle path {
    fill: {{ section.settings.heading-text-columns_text_color }};
  }
  .wl_heading-text-columns p {
    color: {{ section.settings.heading-text-columns_text_color }};
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
  }
  .wl_heading-text-columns p:not(:first-of-type) {
    margin-top: 20px; /* Adjust the margin size as needed */
  }
  .wl_heading-text-columns_text-col a {
    margin-top: 24px;
    color: #154734;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    display: block;
  }
  .wl_heading-text-columns_text-col {
    color: {{ section.settings.heading-text-columns_text_color }};
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
  }

  @media (max-width: 767px) {
    .wl_heading-text-columns {
      padding: 60px 20px;
    }
    .wl_heading-text-columns_heading-col {
      grid-column: span 10;
    }
    .wl_heading-text-columns_heading {
      font-size: 24px;
    }
    .wl_heading-text-columns_heading.small {
      font-size: 24px;
    }
    .wl_heading-text-columns_text-col {
      grid-column: span 12;
      font-size: 14px;
    }
    .wl_heading-text-columns p {
      font-size: 14px;
    }
    .wl_heading-text-columns a {
      font-size: 14px;
    }
{%- endstyle -%}


<div class="wl_heading-text-columns" id="{{ section.settings.heading-text-columns_id }}">
  <!-- <div class="heading-text-columns_inner"> -->
    <div class="wl_heading-text-columns_heading-col">
      <h2 class="wl_heading-text-columns_heading {{ section.settings.heading-text-columns_heading-size }}">{{ section.settings.heading-text-columns_heading }}</h2>
      <svg class="wl_heading-text-columns_squiggle" width="96" height="4" viewBox="0 0 96 4" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M95.5019 0.237744C95.3774 1.1167 95.2529 2.12125 94.7549 2.74908C94.2568 3.50247 93.2607 3.7536 92.3891 3.62803C90.7704 3.3769 90.0233 1.74456 89.6498 0.363336H90.1478C89.7743 1.61899 89.1517 3.87916 87.4085 3.62803C85.9144 3.50247 85.1673 1.61899 85.0428 0.363336C85.1673 0.363336 85.4163 0.237744 85.5408 0.237744C85.5408 1.74453 84.7938 3.62803 83.1751 3.62803C81.4319 3.62803 80.6848 1.74453 80.5603 0.237744C80.8093 0.237744 80.9338 0.363336 81.0583 0.363336C80.8093 1.61899 80.5603 3.3769 78.9416 3.50247C77.1984 3.62804 76.4513 1.74456 76.2023 0.363336C76.4513 0.363336 76.5759 0.237744 76.7004 0.237744C76.7004 0.991136 76.7004 1.74454 76.3268 2.37236C75.7043 3.12576 74.7082 3.50247 73.7121 3.50247C72.965 3.3769 72.0934 3.0002 71.7198 2.12124C71.4708 1.61898 71.3463 0.991163 71.0973 0.363336H71.5953C71.4708 0.991163 71.3463 1.74454 71.2218 2.37236C71.0973 3.25132 70.2257 3.7536 69.3541 3.62803C67.7354 3.62803 67.2373 1.61896 67.1128 0.237744H67.6109C67.6109 1.87009 66.6148 3.50247 64.8716 3.62803C63.1284 3.62803 61.8833 1.99569 61.3852 0.363336C61.6342 0.363336 61.7588 0.237744 61.8833 0.237744C62.0078 1.61896 61.5097 3.3769 60.0155 3.50247C58.3969 3.50247 57.5253 1.74456 57.4008 0.363336H57.8988C57.2762 1.61899 56.2801 3.37688 54.786 3.37688C53.1673 3.37688 52.1712 1.61899 51.7977 0.363336H52.2957C52.0467 1.36786 51.4241 3.00018 50.3035 3.37688C48.5603 3.87914 47.5642 1.74453 47.4397 0.237744H47.9377C47.9377 1.1167 47.8132 2.12125 47.3152 2.74908C46.8171 3.50247 45.821 3.7536 44.9494 3.62803C43.3307 3.3769 42.5836 1.74456 42.2101 0.363336H42.7082C42.3346 1.61899 41.712 3.87916 39.9689 3.62803C38.4747 3.50247 37.7276 1.61899 37.6031 0.363336C37.7276 0.363336 37.9767 0.237744 38.1012 0.237744C37.9767 1.74453 37.3541 3.62803 35.7354 3.62803C33.9922 3.62803 33.2451 1.74453 33.1206 0.237744C33.3697 0.237744 33.4942 0.363336 33.6187 0.363336C33.3696 1.61899 33.1206 3.3769 31.502 3.50247C29.7588 3.62804 29.0117 1.74456 28.7626 0.363336C28.8872 0.363336 29.1362 0.237744 29.2607 0.237744C29.2607 0.991136 29.2607 1.74454 28.8871 2.37236C28.2646 3.12576 27.2685 3.50247 26.2724 3.50247C25.5253 3.3769 24.6537 3.0002 24.2801 2.12124C24.0311 1.61898 23.9066 0.991163 23.6576 0.363336H24.1556C24.0311 0.991163 23.9066 1.74454 23.7821 2.37236C23.6576 3.25132 22.786 3.7536 21.9144 3.62803C20.2957 3.62803 19.7977 1.61896 19.6731 0.237744H20.1712C20.1712 1.87009 19.1751 3.50247 17.4319 3.62803C15.6887 3.62803 14.3191 1.99569 13.9455 0.363336C14.1946 0.363336 14.3191 0.237744 14.4436 0.237744C14.5681 1.61896 14.07 3.3769 12.5759 3.50247C10.9572 3.50247 10.0856 1.74456 9.96109 0.363336H10.3346C9.83657 1.61899 8.84045 3.37688 7.34629 3.37688C5.72761 3.37688 4.73153 1.61899 4.35799 0.363336H4.85602C4.607 1.36786 3.98445 3.00018 2.86382 3.37688C1.12063 3.87914 0.124514 1.74453 0 0.237744C0 -0.0133864 0.498066 -0.0133864 0.498066 0.237744C0.622579 0.865571 0.747068 1.49342 1.12061 2.12124C1.49415 2.74907 2.36576 3.12577 2.98833 2.74908C3.73541 2.24682 4.10896 1.1167 4.35799 0.237744C4.35799 -0.0133864 4.73151 -0.0133864 4.85602 0.237744C5.22956 1.24227 5.97664 2.87464 7.34629 2.87464C8.59142 2.87464 9.46304 1.24227 9.96109 0.237744C9.96109 -0.0133864 10.3346 -0.138952 10.3346 0.237744C10.5836 1.24227 11.0817 2.87463 12.4514 3.0002C13.6965 3.0002 14.07 1.36783 13.9455 0.237744C13.9455 -0.0133864 14.4436 -0.138952 14.4436 0.237744C14.8171 1.61896 15.8132 3.00019 17.3074 3.12576C18.8015 3.12576 19.6731 1.61896 19.6731 0.237744C19.6731 -0.0133864 20.1712 -0.0133864 20.1712 0.237744C20.2957 1.36783 20.6693 3.25132 22.1634 3.12576C23.5331 3.12576 23.5331 1.24227 23.6576 0.237744C23.6576 -0.0133864 24.0311 -0.0133864 24.1556 0.237744C24.5292 1.24227 24.7782 2.62351 26.0233 2.87464C26.8949 3.12577 28.0156 2.74908 28.5136 1.99568C28.7627 1.49342 28.7626 0.865571 28.7626 0.237744C28.7626 -0.0133864 29.2607 -0.138952 29.2607 0.237744C29.5097 1.36783 30.0078 3.12576 31.502 3.0002C32.8716 2.87463 32.8716 1.24227 33.1206 0.237744C33.2451 -0.138952 33.6187 -0.0133864 33.6187 0.237744C33.7432 1.36783 34.3658 3.12576 35.7354 3.12576C37.1051 3.12576 37.6031 1.36783 37.6031 0.237744C37.6031 -0.0133864 37.9767 -0.138952 38.1012 0.237744C38.2257 1.24227 38.7237 2.87463 39.8443 3.12576C41.463 3.50245 41.9611 1.24227 42.2101 0.237744C42.3346 -0.0133864 42.7082 -0.0133864 42.7082 0.237744C42.9572 1.24227 43.4552 2.49794 44.5759 3.0002C45.3229 3.37689 46.4436 3.12576 46.9416 2.37236C47.3152 1.74454 47.4397 0.991136 47.4397 0.237744C47.5642 -0.0133864 47.9377 -0.0133864 47.9377 0.237744C48.0623 0.865571 48.1867 1.49342 48.5603 2.12124C48.9338 2.74907 49.8054 3.12577 50.428 2.74908C51.2996 2.24682 51.5486 1.1167 51.7977 0.237744C51.7977 -0.0133864 52.1712 -0.0133864 52.2957 0.237744C52.6692 1.24227 53.5408 2.87464 54.786 2.87464C56.0311 2.87464 56.9027 1.24227 57.4008 0.237744C57.4008 -0.0133864 57.7743 -0.138952 57.8988 0.237744C58.0233 1.24227 58.5214 2.87463 59.891 3.0002C61.1362 3.0002 61.5097 1.36783 61.3852 0.237744C61.3852 -0.0133864 61.8833 -0.138952 61.8833 0.237744C62.2568 1.61896 63.2529 3.00019 64.7471 3.12576C66.2412 3.12576 67.1128 1.61896 67.1128 0.237744C67.1128 -0.0133864 67.6109 -0.0133864 67.6109 0.237744C67.7354 1.36783 68.1089 3.25132 69.6031 3.12576C70.9727 3.12576 70.9727 1.24227 71.0973 0.237744C71.0973 -0.0133864 71.4708 -0.0133864 71.5953 0.237744C71.9689 1.24227 72.2179 2.62351 73.463 2.87464C74.3346 3.12577 75.4552 2.74908 75.9533 1.99568C76.2023 1.49342 76.2023 0.865571 76.2023 0.237744C76.2023 -0.0133864 76.7004 -0.138952 76.7004 0.237744C76.9494 1.36783 77.4474 3.12576 78.9416 3.0002C80.3113 2.87463 80.3113 1.24227 80.5603 0.237744C80.6848 -0.138952 81.0583 -0.0133864 81.0583 0.237744C81.1829 1.36783 81.8054 3.12576 83.1751 3.12576C84.5447 3.12576 85.0428 1.36783 85.0428 0.237744C85.0428 -0.0133864 85.4163 -0.138952 85.5408 0.237744C85.6654 1.24227 86.1634 2.87463 87.284 3.12576C88.9027 3.50245 89.4008 1.24227 89.6498 0.237744C89.7743 -0.0133864 90.1478 -0.0133864 90.1478 0.237744C90.3969 1.24227 90.8949 2.49794 92.0155 3.0002C92.7626 3.37689 93.8832 3.12576 94.3813 2.37236C94.7548 1.74454 94.8794 0.991136 94.8794 0.237744C95.0039 -0.0133864 95.5019 -0.0133864 95.5019 0.237744Z"/>
      </svg>
    </div>
    <div class="wl_heading-text-columns_text-col">
      {{ section.settings.heading-text-columns_text }}
    </div>
  <!-- </div> -->
</div>


{% schema %}
{
  "name": "Heading Text Columns",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading-text-columns_heading",
     "label": "Heading",
    },
    {
        "type": "select",
        "id": "heading-text-columns_heading_color",
        "label": "Heading Color",
        "options": [
          {
            "value": "#154734",
            "label": "Green - Dark"
          },  
          {
            "value": "#E9DDC6",
            "label": "Beige"
          }  
        ],
        "default": "#154734"
      },
            {
        "type": "select",
        "id": "heading-text-columns_heading-size",
        "label": "Heading Size",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },   
          {
            "value": "small",
            "label": "Small"
          } 
        ],
        "default": "large"
      },
    {
      "type": "textarea",
      "id": "heading-text-columns_text",
     "label": "Text",
    },
        {
        "type": "select",
        "id": "heading-text-columns_text_color",
        "label": "Text Color",
        "options": [
          {
            "value": "#154734",
            "label": "Green - Dark"
          },   
          {
            "value": "#E9DDC6",
            "label": "Beige"
          } 
        ],
        "default": "#154734"
      },
        {
        "type": "select",
        "id": "heading-text-columns_background_color",
        "label": "Background Color",
        "options": [
          {
            "value": "#FFF5E5",
            "label": "Beige - Light"
          },    
          {
            "value": "#154734",
            "label": "Green - Dark"
          }
        ],
        "default": "#FFF5E5"
      },
        {
      "type": "text",
      "id": "heading-text-columns_id",
     "label": "Section ID",
    }
  ],
  "presets": [
    {
      "name": "Heading Text Columns"
    }
  ]
}
{% endschema %}
