{% comment %} INSERT_YOUR_CODE {% endcomment %}
{%- comment -%}
  Product Features section
{%- endcomment -%}

<style>
  /* Scope background image to this section instance */
  #shopify-section-{{ section.id }} .background_image{
    {% if section.settings.background_image != blank %}
      background-image:url('{{ section.settings.background_image | image_url }}');
      background-size:cover;
      background-position:center;
    {% endif %}
  }
</style>

<div class="shortz">
  <div class="theme-highlight background_image">
    <div class="ingrid g-md p-lg-tb a-cc">
        <div class="col g-md a-cc"></div>

        {%- comment -%} Top area (image, title, subtitle) {%- endcomment -%}
        <div class="col g-sm a-cc p-sm-b" style="max-width: {{ section.settings.top_section_max_width }}">
            {%- if section.settings.top_image != blank -%}
            <img class="p-xs-b" src="{{ section.settings.top_image | image_url }}" alt="{{ section.settings.title | escape }}" style="max-width:270px;">
            {%- endif -%}

            {%- if section.settings.title != blank -%}
            {%- assign title_tag = section.settings.title_size -%}
            <{{ title_tag }}>{{ section.settings.title }}</{{ title_tag }}>
            {%- endif -%}

            {%- if section.settings.subtitle != blank -%}
            {%- assign subtitle_tag = section.settings.subtitle_size -%}
            <{{ subtitle_tag }}>{{ section.settings.subtitle }}</{{ subtitle_tag }}>
            {%- endif -%}
        </div>

        {%- comment -%} Featured blocks {%- endcomment -%}
        <div class="grid-4 m-grid-2">
            {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
                <div class="col g-sm a-tc" {{ block.shopify_attributes }}>
                {%- if block.settings.icon != blank -%}
                    <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.header | escape }}" style="max-width:50px;">
                {%- endif -%}

                <div class="col g-sm">
                    {%- if block.settings.header != blank -%}
                    {%- assign hdr_tag = block.settings.header_size -%}
                    <{{ hdr_tag }} style="font-weight: {{ block.settings.header_weight }}">{{ block.settings.header }}</{{ hdr_tag }}>
                    {%- endif -%}

                    {%- if block.settings.description != blank -%}
                    {%- assign desc_tag = block.settings.description_size -%}
                    <{{ desc_tag }} style="font-weight: {{ block.settings.description_weight }}">{{ block.settings.description }}</{{ desc_tag }}>
                    {%- endif -%}
                </div>
                </div>
            {%- endfor -%}
            {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Features",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "top_image",
      "label": "Top image"
    },
    {
      "type": "text",
      "id": "top_section_max_width",
      "label": "Top section max-width (e.g. 600px)",
      "default": "600px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h2",
      "options": [
        { "value": "h0", "label": "h0" },
        { "value": "h1", "label": "h1" },
        { "value": "h2", "label": "h2" },
        { "value": "h3", "label": "h3" },
        { "value": "h4", "label": "h4" },
        { "value": "h5", "label": "h5" },
        { "value": "h6", "label": "h6" },
        { "value": "p",  "label": "p"  },
        { "value": "p1", "label": "p1" }
      ]
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Subtitle size",
      "default": "p",
      "options": [
        { "value": "h0", "label": "h0" },
        { "value": "h1", "label": "h1" },
        { "value": "h2", "label": "h2" },
        { "value": "h3", "label": "h3" },
        { "value": "h4", "label": "h4" },
        { "value": "h5", "label": "h5" },
        { "value": "h6", "label": "h6" },
        { "value": "p",  "label": "p"  },
        { "value": "p1", "label": "p1" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Featured section",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "select",
          "id": "header_size",
          "label": "Header size",
          "default": "h4",
          "options": [
            { "value": "h0", "label": "h0" },
            { "value": "h1", "label": "h1" },
            { "value": "h2", "label": "h2" },
            { "value": "h3", "label": "h3" },
            { "value": "h4", "label": "h4" },
            { "value": "h5", "label": "h5" },
            { "value": "h6", "label": "h6" },
            { "value": "p",  "label": "p"  },
            { "value": "p1", "label": "p1" }
          ]
        },
        {
          "type": "select",
          "id": "header_weight",
          "label": "Header weight",
          "default": "400",
          "options": [
            { "value": "100", "label": "100" },
            { "value": "200", "label": "200" },
            { "value": "300", "label": "300" },
            { "value": "400", "label": "400" },
            { "value": "500", "label": "500" },
            { "value": "600", "label": "600" },
            { "value": "700", "label": "700" },
            { "value": "800", "label": "800" },
            { "value": "900", "label": "900" }
          ]
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Description size",
          "default": "p",
          "options": [
            { "value": "h0", "label": "h0" },
            { "value": "h1", "label": "h1" },
            { "value": "h2", "label": "h2" },
            { "value": "h3", "label": "h3" },
            { "value": "h4", "label": "h4" },
            { "value": "h5", "label": "h5" },
            { "value": "h6", "label": "h6" },
            { "value": "p",  "label": "p"  },
            { "value": "p1", "label": "p1" }
          ]
        },
        {
          "type": "select",
          "id": "description_weight",
          "label": "Description weight",
          "default": "300",
          "options": [
            { "value": "100", "label": "100" },
            { "value": "200", "label": "200" },
            { "value": "300", "label": "300" },
            { "value": "400", "label": "400" },
            { "value": "500", "label": "500" },
            { "value": "600", "label": "600" },
            { "value": "700", "label": "700" },
            { "value": "800", "label": "800" },
            { "value": "900", "label": "900" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Features",
      "category": "Custom"
    }
  ]
}
{% endschema %}
