{% comment %} INSERT_YOUR_CODE {% endcomment %}

{%- comment -%}
  Reviews Title Section
  Displays a heading (with selectable HTML tag) and an optional star-rating.
{%- endcomment -%}

<div class="shortz reviews-title">
    <div class="theme-standard">
        <div class="ingrid">
            <div class="row g-md a">
                <div class="col a-cl">
                    {%- if section.settings.title_text != blank -%}
                        {%- assign title_tag = section.settings.title_text_size -%}
                        <{{ title_tag }} class="reviews-title-text">{{ section.settings.title_text }}</{{ title_tag }}>
                    {%- endif -%}
                </div>
                <div class="row a-cr">
                {%- if section.settings.review_rating != blank -%}
                    {%- assign stars = section.settings.review_rating | plus: 0 -%}
                    <{{ title_tag }} class="reviews-title-stars">{{ section.settings.stars }}</{{ title_tag }}>
                    <div class="stars row g-xxs a-b p-b-xs">
                    {%- for i in (1..stars) -%}
                        <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.32886 0.783936L12.2115 6.25881L18.6577 7.14214L13.9933 11.4013L15.0941 17.4185L9.32886 14.5761L3.56363 17.4185L4.66443 11.4013L0 7.14214L6.44624 6.25881L9.32886 0.783936Z" fill="#F76627"/>
                        </svg>
                    {%- endfor -%}
                    </div>
                {%- endif -%}
                </div>


            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Reviews Title",
  "tag": "section",
  "class": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    },
    {
      "type": "select",
      "id": "title_text_size",
      "label": "Title Text Size",
      "default": "h2",
      "options": [
        { "value": "h0", "label": "h0" },
        { "value": "h1", "label": "h1" },
        { "value": "h2", "label": "h2" },
        { "value": "h3", "label": "h3" },
        { "value": "h4", "label": "h4" },
        { "value": "h5", "label": "h5" },
        { "value": "h6", "label": "h6" },
        { "value": "p",  "label": "p"  },
        { "value": "p1", "label": "p1" }
      ]
    },
    {
      "type": "select",
      "id": "review_rating",
      "label": "Review Rating",
      "default": "5",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Title",
      "category": "Text"
    }
  ]
}
{% endschema %}

